<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="login-page">
  <form (submit)="doLogin()">
    

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input class = "login-box" type="email" [(ngModel)]="credentials.username" name="email"></ion-input>
      </ion-item>

      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input class = "login-box" type="password" [(ngModel)]="credentials.password" name="password"></ion-input>
      </ion-item>

      
        <ion-row width-50 style="text-align: center">
          <ion-col >
            <button ion-button class = "submit-btn" color="primary">{{ 'LOGIN_BUTTON' | translate }}</button>
          </ion-col>
          </ion-row>
          <ion-row>
          <ion-col width-50 style="text-align: center">
            <button ion-button class = "submit-btn" (click)="signup()">{{ 'SIGNUP_BUTTON' | translate }}</button>
          </ion-col>
        </ion-row>
      

    
  </form>
</ion-content>
