<!--
  Generated template for the SelectAssessmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Select Assessment(s) for Estelle Potter</ion-title>

    
    <ion-buttons right>
      <button ion-button icon-only (click)="cancel()" end>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
  <ion-list inset> 
    <button ion-item *ngFor="let item of assessments " (click)="assessmentSelected(item)">
            <h2>{{item.short_name}} {{item.extended_name}}</h2>
          </button>
  </ion-list>

  
  <ion-tags-input [(ngModel)]="assessmentNameTag" [placeholder]="'add test'" (onChange)="onChange($event)"></ion-tags-input>
  
</ion-content> -->

<ion-content>
  
  <!-- Assessment(s) for Estelle Potter Modal -->
  <div class="popup">
      <div class="popup-dialog" role="document">
        <div class="popup-content">
          <div class="popup-header">
            <div class="popup-title">
              <div class="d-flex w-100">
                <div class="col-md-1">
                  
                </div>
                <div class="col-md-10 text-center">
                  <h3>Assessment(s) for {{clientName}}</h3>
                </div>
                <div class="col-md-1">
                  <button class="btn-icon" (click)="cancel()">
                    <img src="./assets/images/close.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="popup-body p-0 pt-1">
            
            <div class="popup-search">
                <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
            </div>
            <ion-list class="list-group">
                <button ion-item class="list-group-item" [class.checked]="item.selected" *ngFor="let item of assessments " (click)="assessmentSelected(item)">
                    <strong>{{item.short_name}}</strong>
                    <span>  - {{item.extended_name}}</span>
                    <span class="float-right">
                        <span class="check"></span>
                    </span>
                </button>
            </ion-list>
            <div class="bg-white p-1">
                  <ion-tags-input [(ngModel)]="assessmentNameTag" [once]="'true'" [placeholder]="'Selected tests'" (onChange)="onChange($event)"></ion-tags-input>
            </div>
          </div>
          <div class="popup-footer text-right">
            <button class="btn-icon" (click)="administer(assessmentNameTag)">
              <strong>ADMINISTER ({{assessmentNameTag.length}})</strong>
              <img src="./assets/images/svg/start.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- // Assessment(s) for Estelle Potter Modal -->
  
  </ion-content>


