<!--
  Generated template for the AddNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- Add Note Modal -->

<ion-content >
    <form *ngIf="form" [formGroup]="form">
<div class="popup m-0">
    <div class="popup-dialog" role="document">
      <div class="popup-content">
        <div class="popup-header">
          <div class="popup-title">
            <div class="d-flex w-100">
              <div class="col-md-1"></div>
              <div class="col-md-10 text-center">
                <h3>Add Note</h3>
              </div>
              <div class="col-md-1">
                <button class="btn-icon" (click)="cancel()">
                  <img src="./assets/images/close.png">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="popup-body">
          <label for="note" class="text-muted small">Type Here</label>
          <ion-textarea formControlName="body" id="note" cols="30" rows="12" class="form-control"></ion-textarea>
          <div class="note-btns text-right mt-3">
            <button class="btn-icon mr-3">
              <img src="./assets/images/svg/trash.svg" class="minus-top-2" alt="">
              <span>Delete Note</span>
            </button>
            <button class="btn btn-success" (click)="done()">Add Note</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    </form>
</ion-content>
  <!-- // Add Note Modal -->
