<div class="row" *ngIf="client">
	<div class="inner-page-content common-assessment-content w-100">
		<div class="single-client-page">
			<div class="client-info-block mt-4">
				<div class="client-info">
					<div class="row">
						<div class="col-md-8">
							<img src="./assets/images/none.png" class="float-left m-3 mt-4" alt="" style="width:70px;height:70px;">
							<!-- <div class="client-details my-3"> -->
								<div class="client-details mt-3">
								<h3 class="font-large font-weight-bold ">{{client.first_name}}</h3>
								<p class="mb-0">
									<span class="font-weight-bold">Age: </span>
									<span class="value"> {{client.date_of_birth}}</span>
								</p>
								<p class="mb-0">
									<span class="font-weight-bold">Email: </span>
									<span class="value"> {{client.email != '' ? client.email : 'No email provided'}}</span>
								</p>
							</div>
						</div>
						<div class="col-md-4 text-right">
							<img src="./assets/images/svg/edit.svg" alt="" class="m-2" (click)="editClient(client)">
							<br/>
							<button class="btn btn-primary mr-3 mt-3 px-4" (click)="administer()">
								<img src="./assets/images/svg/ipad.svg" alt="Administer">
								Administer
							</button>
						</div>
					</div>
				</div>
				<div class="client-actions">
					<div class="row">
						<div class="col-md-6 pr-0 text-center">
								<button class="text-center w-100" (click)="emailAssessment()">
									<img class="minus-top-2" src="./assets/images/svg/email-black.svg" alt="Email">
									Email
								</button>
						</div>
						<div class="col-md-6 pl-0 text-center">
							<button class="text-center w-100" (click)="scheduleAssessment()">
								<img class="minus-top-2" src="./assets/images/svg/email-black.svg" alt="Schedule">
								Schedule
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="scheduling mt-4">
				<div class="header">
					<h3 class="float-left font-lead m-0">Scheduling</h3>
					<div class="scheduling-nav float-right">
						<a href="">View Sent Logs</a>
						<a href="">View Future Logs</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="scheduling-list">
					<div class="single-scheduling">
						<div class="status mb-2">
							<span class="signal success"></span>
							<span class="font-weight-bold">In Progress</span>
							<img src="./assets/images/svg/edit.svg" alt="" class="float-right">
							<!-- <span class="signal error"></span>
							<span class="signal warning"></span> -->
						</div>
						<p class="info">
							Repeated <span class="highlight">DASS-21</span> scheduled on <span class="highlight">21 July 2017</span> every <span class="highlight">Week</span> for <span class="highlight">8</span> cycles to <span class="highlight">emailtest@email.com</span>
						</p>
					</div>
					<div class="single-scheduling">
						<div class="status mb-2">
							<span class="signal error"></span>
							<span class="font-weight-bold">Expired</span>
							<img src="./assets/images/svg/edit.svg" alt="" class="float-right">
							<!-- <span class="signal error"></span>
							<span class="signal warning"></span> -->
						</div>
						<p class="info">
							Repeated <span class="highlight">DASS-21</span> scheduled on <span class="highlight">21 July 2017</span> every <span class="highlight">Week</span> for <span class="highlight">8</span> cycles to <span class="highlight">emailtest@email.com</span>
						</p>
					</div>
				</div>
			</div>

			<div class="past-results results mt-4">
				<div class="header">
					<h3 class="font-lead">Past Results</h3>
				</div>
				<ion-list class="list-group">
					<button class="list-group-item" ion-item *ngFor="let item of pastResults" (click)="resultSelected(item)">
						<ion-row>
								<ion-col>
									<span class="date">{{item.added}}</span>
									<span class="code">{{item.assessment_short_name}}</span>
								</ion-col>
								<ion-col text-right>
									<span class="message">Contacted Via Email <img class="minus-top-2" src="./assets/images/svg/email-grey.svg" alt=""></span>
								</ion-col>
							</ion-row>
						</button>
				</ion-list>
			</div>

			<div class="past-results results mt-4">
				<div class="header">
					<h3 class="font-lead">Notes</h3>
				</div>
				<ion-list class="list-group">
					<button class="list-group-item" ion-item *ngFor="let item of clientNotes; let i = index" (click)="noteSelected(item,i)">
						<ion-row>
								<ion-col>
									<span class="date">{{item.added}}</span>
									<span class="code">{{item.body}}</span>
								</ion-col>
							</ion-row>
						</button>
				</ion-list>
				<button class="btn btn-primary mt-2 px-4" (click)="addNote(client.id)">Add Note</button>
				<div class="pad30"></div>
			</div>
		</div>
	</div>
</div>
