<!--
  Generated template for the ClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-content>
  <ion-row>
    <ion-col>
      <ion-navbar>
        <ion-title>Assessments</ion-title>
      </ion-navbar>

     <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
    <ion-list inset> 
    <button ion-item *ngFor="let item of assessments " (click)="assessmentSelected(item)">
            <span>{{item.short_name}}</span>
            <span> {{item.extended_name}}</span>
          </button>
  </ion-list>
    </ion-col>
    <ion-col>
      <assessment-details [assessment]="assessment"></assessment-details>
    </ion-col>
  </ion-row>
</ion-content> -->

<ion-content>
  <div id="main" class="inner-page single-assessment-page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="inner-page-nav assessment-nav row">
              <div class="inner-page-header assessment-header w-100 p-2">
                <h4 class="text-center my-2">Assessments</h4>
                <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
              </div>
  
              <div class="inner-page-list list-scroller w-100">
								<ion-scroll >
                    <button class="li-block w-100 common-assessments text-left" (click)="commonAssessmentSelected()">
                      <p class="mb-3">Common Assessment</p>
                      <p class="small">Quick Access to common tests</p>
                    </button>
                    <ion-list>
                      <button class="li-block w-100" [class.active]="i==1" text-left *ngFor="let item of assessments;let i = index" (click)="assessmentSelected(item)">
                        <p class="mb-3">{{item.short_name}}</p>
                        <p class="small">{{ item.extended_name }} </p>
                      </button>
                    </ion-list>
                  </ion-scroll>
              </div>
          </div>
        </div>
        <div class="col-md-8">
          <assessment-details [assessment]="assessment"></assessment-details>
        </div>
      </div>
    </div>
  </div>
</ion-content>