// // Ionic Variables and Theming. For more info, please see:
// // http://ionicframework.com/docs/v2/theming/
// $font-path: "../assets/fonts";

// @import "ionic.globals";


// // Shared Variables
// // --------------------------------------------------
// // To customize the look and feel of this app, you can override
// // the Sass variables found in Ionic's source scss files.
// // To view all the possible Ionic variables, see:
// // http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// $text-color:        #000;
// $background-color:  #F3F3F3;


// // Named Color Variables
// // --------------------------------------------------
// // Named colors makes it easy to reuse colors on various components.
// // It's highly recommended to change the default colors
// // to match your app's branding. Ionic uses a Sass map of
// // colors so you can add, rename and remove colors as needed.
// // The "primary" color is the only required color in the map.

// // $colors: (
// //   primary:    #304BB1,
// //   secondary:  #32db64,
// //   danger:     #f53d3d,
// //   light:      #f4f4f4,
// //   dark:       #222,
// //   selection: #05BDFF,
// //   navbarColor: #304BB1
// // );

// $colors: (
//   primary:    #3553BA,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222
// );

//  $toolbar-background: #304BB1;
//  $toolbar-text-color: white;
//  $segment-button-ios-text-color: white;
// //$font-size-base: 14px !default;


// // App iOS Variables
// // --------------------------------------------------
// // iOS only Sass variables can go here




// // App Material Design Variables
// // --------------------------------------------------
// // Material Design only Sass variables can go here




// // App Windows Variables
// // --------------------------------------------------
// // Windows only Sass variables can go here




// // App Theme
// // --------------------------------------------------
// // Ionic apps can have different themes applied, which can
// // then be future customized. This import comes last
// // so that the above variables are used and Ionic's
// // default are overridden.

// @import "ionic.theme.default";


// // Ionicons
// // --------------------------------------------------
// // The premium icon font for Ionic. For more info, please see:
// // http://ionicframework.com/docs/v2/ionicons/

// @import "ionic.ionicons";


// // Fonts
// // --------------------------------------------------

// @import "roboto";
// @import "noto-sans";

// $font-size-base: 20px !default; // 1.4rem == 14px

// $green : #78D44F;
// $light-grey : #DEDFE3;
// $blue : #304BB1;
// $blue-darker : #3553BA;
// $blue-light : #05BDFF;

// // Font Sizes
// $fontSmall : 13px;
// $fontMedium : 16px;
// $fontLead: 21px;
// $fontLarge: 24px;

// // Buttons Font Size
// $btnFontSmall: 14px;

// $shadow: 0px 0px 10px rgba(2,2,2,0.3);

// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

// @font-face {
//   font-family: AppFont;
//   src: url("../assets/fonts/sf-ui-text-regular.TTF");
//   }

// @font-face {
//   font-family: 'novopsych';
//   src: url("../assets/fonts/sf-ui-text-regular-58646b56a688c.otf");
// }

// * {
//   font-family: 'novopsych';
// }

//   body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
//     font-family: 'novopsych' !important;
//     }

  // $font-family-base: "novopsych", !default;

  // $font-family-ios-base: "novopsych";
  // $font-family-md-base: "novopsych";
  // $font-family-wp-base: "novopsych";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
// $background-color:  #F3F3F3;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $colors: (
//   primary:    #304BB1,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222,
//   selection: #05BDFF,
//   navbarColor: #304BB1
// );

$colors: (
  primary:    #3553BA,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

 $toolbar-background: #304BB1;
 $toolbar-text-color: white;
 $segment-button-ios-text-color: white;
//$font-size-base: 14px !default;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";

$font-size-base: 20px !default; // 1.4rem == 14px

$green : #78D44F;
$light-grey : #DEDFE3;
$blue : #304BB1;
$blue-darker : #3553BA;
$blue-light : #05BDFF;

// Font Sizes
$fontSmall : 12px;
$fontMedium : 16px;
$fontLead: 21px;
$fontLarge: 20px;

// Buttons Font Size
$btnFontSmall: 14px;

$shadow: 0px 0px 10px rgba(2,2,2,0.3);