page-questions {
	
	.questions-page{
		background: #fff;
		.questions-page-header{
			background: #f9f9f9;
			border-bottom: 1px solid #ddd;
		}
		.instructions{
			border-bottom: 2px solid #227196;
		}
		.radio-header{
			.radio-group-header{
				background: #cee6ec;
				border-radius: 5px 5px 0px 0px;
				margin: 0px 1px;
			}
		}
		.questions-grouped{
			.questions-body{
				border-top: 2px solid #227196;
			}
		}
		.question{
			padding: 10px 10px;
			&:nth-child(even){
				background: #cee6ec;
			}
			&.questions-radio-inline{
				ion-radio.radio-md{
				    width: 80px;
				    text-align: center;
				    .radio-icon{
				    	border-radius: 0%;
				    	width: 40px;
				    	height: 30px;
				    	display: inline-block;
				    	border-color:#227196;
				    	.radio-inner{
				    		width: 32px;
				    		height: 22px;
				    		border-radius:  0px;
				    		background:#227196!important;
				    	}
				    }
				    button.item-cover{
				    	outline:none!important;
				    }
				}
			}
			&.questions-block{
				ion-item.item-md{
					background: transparent;
				}
				.list-md .item-block .item-inner{
					border-bottom: 0px!important;
				}
			    .radio-icon{
			    	border-radius: 0%;
			    	width: 40px;
			    	height: 30px;
			    	background: transparent!important;
			    	border-color:#227196;
			    	.radio-inner{
			    		width: 32px;
			    		height: 22px;
			    		border-radius:  0px;
			    		border: 0px;
					    left: 2px;
					    transform: rotate(0deg);
					    top: 2px;
				    	border-color:#227196;
				    	background: transparent!important;
			    	}
			    	&.radio-checked{
				    	border-color:#227196;
			    		.radio-inner{
				    		background:#227196!important;
					  	}
			    	}
			    }
			    button.item-cover{
			    	outline:none!important;
			    }
			}
			&.question-seekbar{
				.range-slider{
					.range-bar-active{
						background: #bdbdbd!important;
					}
					.range-knob{
						top: 7px;
						left:7px;
						width: 30px;
						height: 30px;
						background: #227196;
					}
				}
			}
		}

		.submit-btn{
			button{
				background: #003a6c;
				color: #fff;
				font-size: 14px;
			}
		}
	}
}