<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
	<div class="questions-page">
		<div class="questions-page-header p-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 text-left">
						Administrator
					</div>
					<div class="col-md-4 text-center">
						<strong>ASSQ</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="questions-page-body p-2">
			<div class="instructions">
				<p>Instructions</p>
				<p class="font-medium">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dignissimos quidem odio, corrupti nemo molestiae quo. Nostrum quibusdam, necessitatibus ullam?
				</p>
			</div>
			<div class="questions-grouped pt-3">
				<!-- Adds Option Heading for Questions -->
				<div class="row px-3">
					<div class="col-md-6"></div>
					<div class="col-md-6 radio-header">
						<div class="row text-center">
							<div class="col radio-group-header">No</div>
							<div class="col radio-group-header">Somewhat</div>
							<div class="col radio-group-header">Yes</div>
						</div>
					</div>
				</div>
				<!-- // Adds Option Heading for Questions -->
				<!-- Questions Body for Above Heading. No of Options(Radio Buttons) Must Match Above Options -->
				<div class="questions-body">
					<!-- Inline Radio Button Question -->
					<div class="question questions-radio-inline">
						<div class="row">							
							<div class="col-md-6">1.Is Old-fashion or precocious</div>
							<div class="col-md-6 p-0">
								<ion-list class="row" radio-group [(ngModel)]="firstquestion">
								    <ion-radio class="col" value="first" checked></ion-radio>
								    <ion-radio class="col" value="second"></ion-radio>
								    <ion-radio class="col" value="third"></ion-radio>
								</ion-list>
							</div>
						</div>
					</div>
					<!-- // Inline Radio Button Question ends Here -->
					<div class="question questions-radio-inline">
						<div class="row">							
							<div class="col-md-6">2. Is Old-fashion or precocious</div>
							<div class="col-md-6 p-0">
								<ion-list class="row" radio-group [(ngModel)]="secondquestion">
								    <ion-radio class="col" value="first" checked></ion-radio>
								    <ion-radio class="col" value="second"></ion-radio>
								    <ion-radio class="col" value="third"></ion-radio>
								</ion-list>
							</div>
						</div>
					</div>
					<div class="question questions-radio-inline">
						<div class="row">							
							<div class="col-md-6">3. Lorem ipsum dolor sit amet.</div>
							<div class="col-md-6 p-0">
								<ion-list class="row" radio-group [(ngModel)]="thirsquestion">
								    <ion-radio class="col" value="first" checked></ion-radio>
								    <ion-radio class="col" value="second"></ion-radio>
								    <ion-radio class="col" value="third"></ion-radio>
								</ion-list>
							</div>
						</div>
					</div>
					<div class="question questions-radio-inline">
						<div class="row">							
							<div class="col-md-6">4. Lorem ipsum dolor sit amet, consectetur.</div>
							<div class="col-md-6 p-0">
								<ion-list class="row" radio-group [(ngModel)]="fourthquestion">
								    <ion-radio class="col" value="first" checked></ion-radio>
								    <ion-radio class="col" value="second"></ion-radio>
								    <ion-radio class="col" value="third"></ion-radio>
								</ion-list>
							</div>
						</div>
					</div>
					<div class="question questions-radio-inline">
						<div class="row">							
							<div class="col-md-6">5. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="col-md-6 p-0">
								<ion-list class="row" radio-group [(ngModel)]="fifthquestion">
								    <ion-radio class="col" value="first" checked></ion-radio>
								    <ion-radio class="col" value="second"></ion-radio>
								    <ion-radio class="col" value="third"></ion-radio>
								</ion-list>
							</div>
						</div>
					</div>
					
					<!-- Block Question. I:e Option is one per line and stacked above each other.  -->
					<div class="question questions-block">
						<div class="row">							
							<div class="col-md-12">
								<p class="mt-0">6. Behavioral Questions</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta voluptatem fugit sed laboriosam autem eveniet laudantium error? Nam, inventore alias.</p>
							</div>
							<div class="col-md-12 answers pt-3">
								<ion-item item-left>
								    <ion-radio  value="yes" item-left></ion-radio >
								    <ion-label>Never</ion-label>
								  </ion-item>

								  <ion-item>
								    <ion-radio  value="no" item-left></ion-radio >
								    <ion-label>Once a Month</ion-label>
								  </ion-item>
							</div>
						</div>
					</div>
					<!-- // Block Question Ends here -->
				</div>
				<!-- // Question Body Ends Here -->

				<!-- Adds Option Heading for Questions -->
				<div class="row pt-2 px-3">
					<div class="col-md-6"></div>
					<div class="col-md-6 radio-header">
						<div class="row text-center">
							<div class="col radio-group-header">Never</div>
							<div class="col radio-group-header">Sometimes</div>
							<div class="col radio-group-header">Often</div>
							<div class="col radio-group-header">Always</div>
						</div>
					</div>
				</div>
				<!-- // Adds Option Heading for Questions -->

				<div class="questions-body">
					<div class="question questions-radio-inline">
						<div class="row">							
							<div class="col-md-6">7. Is Old-fashion or precocious</div>
							<div class="col-md-6 p-0">
								<ion-list class="row" radio-group [(ngModel)]="firstquestion2">
								    <ion-radio class="col" value="first" checked></ion-radio>
								    <ion-radio class="col" value="second"></ion-radio>
								    <ion-radio class="col" value="third"></ion-radio>
								    <ion-radio class="col" value="fourth"></ion-radio>
								</ion-list>
							</div>
						</div>
					</div>
					<div class="question questions-radio-inline">
						<div class="row">							
							<div class="col-md-6">8. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							<div class="col-md-6 p-0">
								<ion-list class="row" radio-group [(ngModel)]="secondquestion2">
								    <ion-radio class="col" value="first" checked></ion-radio>
								    <ion-radio class="col" value="second"></ion-radio>
								    <ion-radio class="col" value="third"></ion-radio>
								    <ion-radio class="col" value="fourth"></ion-radio>
								</ion-list>
							</div>
						</div>
					</div>
					<div class="question questions-block">
						<div class="row">							
							<div class="col-md-12">
								<p class="mt-0">6. Behavioral Questions</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta voluptatem fugit sed laboriosam autem eveniet laudantium error? Nam, inventore alias.</p>
							</div>
							<div class="col-md-12 answers pt-3">
								<ion-list radio-group [(ngModel)]="questionmultiple">

								  <ion-item item-left>
								    <ion-radio  value="yes" item-left></ion-radio >
								    <ion-label>Never</ion-label>
								  </ion-item>

								  <ion-item>
								    <ion-radio  value="no" item-left></ion-radio >
								    <ion-label>Once a Month</ion-label>
								  </ion-item>

								  <ion-item>
								    <ion-radio  value="sometimes" item-left></ion-radio >
								    <ion-label>2-3 Times a day</ion-label>
								  </ion-item>
								  <ion-item>
								    <ion-radio  value="once" item-left></ion-radio >
								    <ion-label>Once a week</ion-label>
								  </ion-item>
								  <ion-item>
								    <ion-radio  value="once-day" item-left></ion-radio >
								    <ion-label>Once a day or more</ion-label>
								  </ion-item>
								</ion-list>
							</div>
						</div>
					</div>
				</div>

				<div class="questions-body">
					<!-- Seekbar Question -->
					<div class="question question-seekbar">
						<div class="row">
							<!-- Left Placeholder Image -->
							<div class="col-md-2 text-center">
								<img src="http://placehold.it/60x60" class="pt-5"> <!-- Replace Image source -->
							</div>
							<!-- // Left Placeholder Image ends-->
							<div class="col-md-8 text-center">
								<ion-label for="">How are you?</ion-label>
								   <ion-range min="20" max="80" step="2" [(ngModel)]="secondseekbar"></ion-range>
							</div>
							<!-- Right Placeholder Image -->
							<div class="col-md-2 text-center">
								<img src="http://placehold.it/60x60" class="pt-5"> <!-- Replace Image source -->
							</div>
							<!-- // Right Placeholder Image -->
						</div>
					</div>
					<!-- // Seekbar Question ends -->
					<div class="question question-seekbar">
						<div class="row">
							<div class="col-md-2 text-center">
								<img src="http://placehold.it/60x60" class="pt-5">
							</div>
							<div class="col-md-8 text-center">
								<ion-label for="">How are things in my family?</ion-label>
								   <ion-range min="20" max="80" step="2" [(ngModel)]="firstseekbar"></ion-range>
							</div>
							<div class="col-md-2 text-center">
								<img src="http://placehold.it/60x60" class="pt-5">
							</div>
						</div>
					</div>
					<div class="question question-seekbar">
						<div class="row">
							<div class="col-md-2 text-center">
								<img src="http://placehold.it/60x60" class="pt-5">
							</div>
							<div class="col-md-8 text-center">
								<ion-label for="">How good is everything?</ion-label>
								   <ion-range min="20" max="80" step="2" [(ngModel)]="thirdseekbar"></ion-range>
							</div>
							<div class="col-md-2 text-center">
								<img src="http://placehold.it/60x60" class="pt-5">
							</div>
						</div>
					</div>
					<!-- Input Question -->
					<div class="question question-input">
						<div class="row">
							<div class="col-md-12">
								<p class="mt-0">7. If you are afraid of something else please write down what it is.</p>
							    <ion-input placeholder="Enter Response Here"></ion-input>
							</div>
						</div>
					</div>
					<!-- // Input Question ends -->
				</div>
			</div>
			<div class="submit-btn text-center">
				<button class="text-center w-75 py-2 mt-5">Submit Assessment</button>
			</div>
		</div>
	</div>
</ion-content>