page-main-page {

    /**
 * Home Page
 */
// .home-page .home-header {
//   padding: 30px 0px;
//   background: #304BB1;
//   color: #fff; }

// .home-actions {
//   position: relative; }
//   .home-actions .home-action {
//     padding: 30px;
//     text-align: center;
//     box-shadow: 0px 0px 10px rgba(2, 2, 2, 0.3);
//     border-radius: 4px;
//     z-index: 2;
//     background: #fff; }
//   .home-actions .bg-overlay {
//     position: absolute;
//     height: 80px;
//     background: #304BB1;
//     width: 100%;
//     z-index: -1; }


	.home-page{
		.home-header{
			padding: 30px 0px;
			background: $blue;
			color: #fff;
		}
	}
	.home-actions{
		position: relative;
		.home-action{
			padding: 30px;
			text-align: center;
			box-shadow: $shadow;
			border-radius: 4px;
			z-index: 2;
			background: #fff;
			img{
				width: 90px;
				height: 80px;
			}
		}
		.bg-overlay{
			position: absolute;
			height: 80px;
			background: $blue;
			width: 100%;
			z-index: -1;
		}
	}
	.home-page{
		.activity{
			.list-group-item{
				strong, span{
					padding-left: 5px;
				}
			}
		}
	}



}
