<ion-header>

  <!--<ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>-->

</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <img src="assets/img/administer.svg" (click)="administer()" />
        <ion-card-content>
          <ion-card-title>
            Administer
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="assets/img/administer.svg" (click)="emailAssessment()" />
        <ion-card-content>
          <ion-card-title>
            Email Assessment
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="assets/img/administer.svg" (click)="scheduleAssessment()" />
        <ion-card-content>
          <ion-card-title>
            Schedule Assessment
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          Recent Activity
        </ion-card-header>

        <ion-list inset>
          <button ion-item *ngFor="let item of recentActivities " (click)="itemSelected(item)">
            <ion-icon *ngIf=" item.label == 'Assessment Completed'" name="checkmark-circle" item-start></ion-icon>
            <ion-icon *ngIf=" item.label == 'Assessment Pending'" name="mail" item-start></ion-icon>
            <p>{{item.detail}}</p>
          </button>
        </ion-list>


      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card>
        <ion-card-header>
          News
        </ion-card-header>

        <ion-list>
          <button ion-item *ngFor="let item of currentNews " (click)="itemSelected(item)">
            <h2>{{item.title}}</h2>
            <p>{{item.content}}</p>
          </button>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>