<!-- <ion-header>
	<ion-navbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-navbar>
</ion-header>
 -->
<ion-content>

	<div id="main" class="home-page">
		<div class="home-header px-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-9">
						<img src="http://placehold.it/40x40" alt="" class="float-left mr-3">
						<p class="lead font-large mt-0">Welcome to NosoPsych, {{userData.first_name}}</p>
					</div>
					<div class="col-md-3 text-right">

						<a class="font-medium font-weight-bold color-white" [navPush]="questionsPage">Questions</a>
						<a href="" class="font-medium font-weight-bold color-white d-block mt-2" (click)="logout()">Log out</a>
					</div>
				</div>
			</div>
		</div>
		<div class="home-actions">
			<div class="bg-overlay"></div>
			<div class="container-fluid">
				<div class="row px-2">
					<div class="col-md-4">
						<div class="home-action">
							<img src="./assets/images/svg/home-administer.svg" (click)="administer()" >
							<h3 class="font-large mt-3 mb-0">Administer</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div class="home-action">
							<img src="./assets/images/svg/home-email.svg" (click)="emailAssessment()">
							<h3 class="font-large mt-3 mb-0">Email Assessment</h3>
						</div>
					</div>
					<div class="col-md-4">
						<div class="home-action" (click)="scheduleAssessment()">
							<img src="./assets/images/svg/home-schedule.svg">
							<h3 class="font-large mt-3 mb-0">Schedule Assessment</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="activity_news mt-5 px-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<h4>Recent Acitvity</h4>
						<div class="activity">
                            <ion-list inset class="list-group">
                                <button ion-item *ngFor="let item of recentActivities " (click)="itemSelected(item.link)" class="list-group-item">
                                    <img *ngIf=" item.label == 'Assessment Completed'" class="check" src="./assets/images/tick.png">
                                    <img *ngIf=" item.label == 'Assessment Pending'" class="check" src="./assets/images/email-grey.png">
                                    
                                    <!--<ion-icon *ngIf=" item.label == 'Assessment Completed'" name="checkmark-circle" item-start></ion-icon>
                                    <ion-icon *ngIf=" item.label == 'Assessment Pending'" name="mail" item-start></ion-icon>-->
                                    <strong>{{ splitTextName(item.detail) }}</strong>
                                    <span>{{ splitTextStatus(item.detail) }}</span>
                                    <!--<p>{{item.detail}}</p>-->
                                </button>
                            </ion-list>
						</div>
					</div>
					<div class="col-md-6">
						<h4>News</h4>
						<div class="news">
                            <ion-list class="list-group">
                                <button ion-item *ngFor="let item of currentNews " (click)="itemSelected(item)" class="list-group-item">
                                    <!--<h2>{{item.title}}</h2>-->
                                    <span>{{item.content}}</span>
                                </button>
                            </ion-list>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="padding-top:70px;"></div>
	</div>
</ion-content>
