

<ion-content>
    <div [ngSwitch]="schedule">
    <!-- Assessment(s) for Estelle Potter Modal -->
    <div class="popup">
        <div class="popup-dialog" role="document">
          <div class="popup-content">
            <div class="popup-header">
              <div class="popup-title">
                <div class="d-flex w-100">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-10 text-center">
                    <h3>Email to {{clientName}}</h3>
                    <p class="small mb-0" *ngIf="clientEmail != '' ">{{clientEmail}}</p>
                    <p class="small mb-0" *ngIf="clientEmail == '' ">No Email Provided</p>
                  </div>
                  <div class="col-md-1">
                    <button class="btn-icon" (click)="cancel()">
                      <img src="./assets/images/close.png">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-white">
            <ion-segment [(ngModel)]="schedule" name="schedule" color="light">
                <ion-segment-button value="Select Assessment">
                  Select Assessment(s)
                </ion-segment-button>
                <ion-segment-button value="Schedule Settings">
                    Schedule Settings
                  </ion-segment-button>
                <ion-segment-button value="Customise Email">
                  Customise Email
                </ion-segment-button>
            </ion-segment>
          </div>
            <div class="popup-body p-0 pt-2" *ngSwitchCase="'Select Assessment'">
              
              <div class="popup-search">
                  <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
              </div>
              <ion-list class="list-group">
                  <button ion-item class="list-group-item" [class.checked]="item.selected" *ngFor="let item of assessments " (click)="assessmentSelected(item)">
                      <strong>{{item.short_name}}</strong>
                      <span>&nbsp;&nbsp;- {{item.extended_name}}</span>
                      <span class="float-right">
                          <span class="check"></span>
                      </span>
                  </button>
              </ion-list>
              <div class="bg-white p-1">
                    <ion-tags-input [(ngModel)]="assessmentNameTag" [once]="'true'" [placeholder]="'Selected tests'" (onChange)="onChange($event)" name="assessment_name_tag"></ion-tags-input>  
              </div>
            </div>
            
            <div class="popup-body pt-2" *ngSwitchCase="'Customise Email'">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="note" class="text-muted small">Subject</label>
                      <ion-input name="note" id="note" class="form-control" [(ngModel)]="sendEmail.subject" name="sendemail_object"></ion-input>
                    </div>
                    <div class="form-group">
                      <label for="note" class="text-muted small">Message</label>
                      <ion-textarea name="note" id="note" cols="30" rows="10" class="form-control" [(ngModel)]="sendEmail.body" name="sendemail_body"></ion-textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="schedule_setting">
                <div class="popup-body pt-2" *ngSwitchCase="'Schedule Settings'">
                  <div class="row">
                    <div class="col">
                      <form name="form1">
                      <h4>Start On:</h4>
                      <div class="form-group">
                        <label for="" class="text-muted small">Select Date</label>
                        <!-- <input type="text" class="form-control w-25"> -->
                        <ion-datetime class = "form-control w-25" displayFormat="DD MMM YYYY" min="1960" max="2002-10-31" [(ngModel)]="schedule_.date" name="schedule_date"></ion-datetime>
                      </div>

                      <div class="form-group">

                      <h4 class="mt-4">Repeat Every:</h4>
                      <!-- <label for="" class="text-muted small">Select Frequency</label> -->
                      <ion-list radio-group [(ngModel)]="schedule_.frequency" name="schedule_frequency">
                        <ion-row class="mx-0">
                          <ion-label stacked class="text-muted small">Select Frequency</ion-label>
                        </ion-row>
                          <ion-row class="radio-btn mx-0 mt-2">
                            <ion-col class="p-0">
                              <ion-item>
                                <ion-label>None</ion-label>
                                <ion-radio checked="true" value="0"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col class="p-0">
                              <ion-item>
                                <ion-label>Day</ion-label>
                                <ion-radio value="1"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col class="p-0">
                              <ion-item>
                                <ion-label>Week</ion-label>
                                <ion-radio value="2"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col class="p-0">
                              <ion-item>
                                <ion-label>Fortnight</ion-label>
                                <ion-radio value="3"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col class="p-0">
                                <ion-item>
                                  <ion-label>Month</ion-label>
                                  <ion-radio value="4"></ion-radio>
                                </ion-item>
                              </ion-col>
                              <ion-col class="p-0">
                                  <ion-item>
                                    <ion-label>3 Months</ion-label>
                                    <ion-radio value="5"></ion-radio>
                                  </ion-item>
                                </ion-col>
                          </ion-row>
                        </ion-list>
                        
                      </div>
  
                      <!-- <div class="radio-group">
                        <div class="radio-input">
                          <input type="radio" value="0" id="schedule0" [(ngModel)]="schedule_.frequency">
                          <label for="radio0">None</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" value="1" id="schedule1" [(ngModel)]="schedule_.frequency">
                          <label for="radio1">Day </label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" value="2" id="schedule2" [(ngModel)]="schedule_.frequency">
                          <label for="radio2">Week</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" value="3" id="schedule3" [(ngModel)]="schedule_.frequency">
                          <label for="radio3">Fortnight</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" value="4" id="schedule4" [(ngModel)]="schedule_.frequency">
                          <label for="radio4">Month</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" value="5" id="schedule5" [(ngModel)]="schedule_.frequency">
                          <label for="radio5">3 Months</label>
                        </div>
                      </div> -->
  
                      <h4 class="mt-4">No of Repetitions:</h4>
                      <label for="" class="text-muted small">Enter No(max 99)</label>
                      <div>
                        <ion-input type="number" class="form-control w-25 float-left" [(ngModel)]="schedule_.repetition" name="schedule_repetition"></ion-input>
                        <span class="d-inline-block p-2">concludes on <strong>{{schedule_.date}}</strong></span>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
  
            <div class="popup-footer text-right">
              <div class="float-left">
                <div class="attach_client">
                  <div class="radio">
                      <ion-checkbox [(ngModel)]="emailSelected" name="email_selected"></ion-checkbox>
                    <label for="attach_client">Email result to clients</label>
                  </div>
                </div>
              </div>
              <button class="btn-icon" (click)="administer()">
                <strong>ADMINISTER ({{assessmentNameTag.length}})</strong>
                <img src="./assets/images/svg/start.svg" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- // Assessment(s) for Estelle Potter Modal -->
      </div>
  </ion-content>