<!-- <ion-header>
  
    <ion-navbar>
      <ion-title>Client Details</ion-title>
      <ion-buttons start>
        <button ion-button (click)="cancel()">
          <span color="primary" showWhen="ios">
            {{ 'CANCEL_BUTTON' | translate }}
          </span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
          <span color="primary" showWhen="ios">
            {{ 'DONE_BUTTON' | translate }}
          </span>
          <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="createClient()">
      
      <ion-list>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>First name or ID</ion-label>
              <ion-input type="text" formControlName="first_name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked>Last name or ID</ion-label>
              <ion-input type="text" formControlName="last_name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Date of birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1960" max="2002-10-31" formControlName="date_of_birth"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
  
        <ion-row>
            <ion-list radio-group formControlName="sex_id">
              <ion-list-header>
                Gender
              </ion-list-header>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label>Undefined</ion-label>
                    <ion-radio checked="true" value="1"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Male</ion-label>
                    <ion-radio value="2"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label>Female</ion-label>
                    <ion-radio value="3"></ion-radio>
                  </ion-item>
                </ion-col>
                
              </ion-row>
            </ion-list>
        </ion-row>
  
      </ion-list>
    </form>
  </ion-content> -->

  <ion-content>
    <form *ngIf="form" [formGroup]="form">
    <div class="popup">
      <div class="popup-dialog" role="document">
        <div class="popup-content schedule_setting">
          <div class="popup-header">
            <div class="popup-title">
              <div class="d-flex w-100">
                <div class="col-md-1">
                  <button class="btn-icon">
                    <img src="./assets/images/left-arrow.png">
                  </button>
                </div>
                <div class="col-md-10 text-center">
                  <h3>Client Details</h3>
                </div>
                <div class="col-md-1">
                  <button class="btn-icon" (click)="cancel()">
                    <img src="./assets/images/close.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="popup-body pt-3">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="" class="text-muted small">First Name or ID</label>
                  <ion-input class = "form-control" type="text" formControlName="first_name"></ion-input>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="" class="text-muted small">Last Name or ID</label>
                  <ion-input class = "form-control" type="text" formControlName="last_name"></ion-input>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="" class="text-muted small">Email</label>
                  <ion-input class = "form-control" type="email" formControlName="email"></ion-input>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="" class="text-muted small">Date of Birth</label>
                  <ion-datetime class = "form-control" displayFormat="MM/DD/YYYY" min="1960" max="2002-10-31" formControlName="date_of_birth"></ion-datetime>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <label for="" class="text-muted small">Gender</label>
                <div class="radio-group">
                  <div class="radio-input bg-white">
                    <input type="radio" value="1" id="gender1" formControlName="sex_id">
                    <label for="gender1">Undefined</label>
                  </div>
                  <div class="radio-input bg-white">
                    <input type="radio" value="2" id="gender2" formControlName="sex_id">
                    <label for="gender2">Male</label>
                  </div>
                  <div class="radio-input bg-white">
                    <input type="radio" value="3" id="gender3" formControlName="sex_id">
                    <label for="gender3">Female</label>
                  </div>
                </div>

              </div>

              <div class="col-md-4 text-right">
                <button class="btn-icon delete-client-btn">
                  <img src="./assets/images/svg/trash.svg" class="minus-top-2" alt="">
                  <span>Delete Client</span>
                </button>
              </div>
            </div>
            
          </div>
          <div class="popup-footer text-center">
            <div class="note-btns text-center mt-0">
              <button class="btn-icon mr-3" (click)="done()" [disabled]="!isReadyToSave">
                <span>Add Client</span>
                <img src="./assets/images/svg/start.svg" class="minus-top-2" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </ion-content>