<ion-content>

  <div id="main" class="inner-page clients-page">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="inner-page-nav assessment-nav row">
            <div class="inner-page-header assessment-header w-100 p-0">
                <h4 class="text-center">Account</h4>
            </div>

            <div class="inner-page-list assessment-list w-100">
              <button class="li-block w-100" [class.active]="isPlanSelected" text-left (click)="planSelected('plan')">
 								<p class="mb-3">Plan</p>
 								<p class="small">Upgrade to get more tests and client</p>
 							</button>
              <div class="li-block" [class.active]="isAccountSelected" (click)="accountSelected('account')">
                <p class="mb-1">Account Details</p>
                <p class="small">Personal details, email, passcode</p>
              </div>

              <div class="li-block" [class.active]="isFeedbackSelected" (click)="feedbackSelected('feedback')">
                <p class="mb-1">Feedback</p>
                <p class="small">Suggestions, errors, feature requests</p>
              </div>
              <div class="li-block"[class.active]="isHelpSelected" (click)="helpSelected('help')">
                <p class="mb-1">Help</p>
                <p class="small">Userguide, FAQ, TCs, Privacy Policy</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <upgrade-plan [text]="text"></upgrade-plan>
        </div>

        </div>
      </div>
    </div>
  

</ion-content>