<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="pb-0">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="doSignup()">
    <ion-list padding class="mb-0">

      <ion-list radio-group formControlName="title_id">
        <ion-row>
        <ion-label stacked class="mb-2">Title</ion-label>
      </ion-row>
        <ion-row class="radio-btn">
          <ion-col class="p-0">
            <ion-item>
              <ion-label>Dr</ion-label>
              <ion-radio checked="true" value="1"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col class="p-0">
            <ion-item>
              <ion-label>Mr</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col class="p-0">
            <ion-item>
              <ion-label>Mrs</ion-label>
              <ion-radio value="3"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col class="p-0">
            <ion-item>
              <ion-label>Prof</ion-label>
              <ion-radio value="4"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input type="text" formControlName="first_name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Last Name</ion-label>
            <ion-input type="text" formControlName="last_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked>Profession</ion-label>
          <ion-select formControlName="profession_id" name="profession">
            <ion-option value="1">Psychologist</ion-option>
            <ion-option value="2">Psychatrist</ion-option>
            <ion-option value="3">Counsllor</ion-option>
            <ion-option value="4">Medical Practitioner</ion-option>            
            <ion-option value="5">Psychology Student</ion-option>
            <ion-option value="6">Occupational Therapist</ion-option>
            <ion-option value="7">Psychiatric Nurse</ion-option>
            <ion-option value="8">Social Worker</ion-option>
            <ion-option value="9">Student</ion-option>            
            <ion-option value="10">Researcher</ion-option>
            <ion-option value="11">Other</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

      <!--
      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
            <ion-input type="password" formControlName="password" name="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label stacked>Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password" name="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>View Terms And Conditions of Registration</ion-label>           
          </ion-item>
        </ion-col>      
      </ion-row>

  </ion-list>  
  </form>
</ion-content>
<ion-footer border>
  <ion-buttons right>
    <button ion-button clear icon-end (click)="done()" [disabled]="!isReadyToSave">
      Register
  <ion-icon name="ios-arrow-dropright-circle"></ion-icon>
</button>
  </ion-buttons>
</ion-footer>