<div class="row" *ngIf="text === 'plan'">
    <div class="inner-page-content common-assessment-content w-100">
                        <div class="page-header">
                            <h3 class="font-lead m-0">Plan</h3>
                        </div>
                        <div class="assessments">
                            <div class="row">
                                <div class="col">
                                    <table class="table plans-table">
                                        <thead>
                                            <tr>
                                                <th>Features</th>
                                                <th class="free">Free</th>
                                                <th>Basic</th>
                                                <th>Pro</th>
                                                <th>Unlimited</th>
                                                <th>Practice</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>No. of Clients</span>
                                                </td>
                                                <td>Up to 40</td>
                                                <td>Up to 80</td>
                                                <td>Up to 300</td>
                                                <td>Unlimited</td>
                                                <td>Unlimited</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>No. of test administrations</span>
                                                </td>
                                                <td>Up to 40 per month</td>
                                                <td>Up to 80 per month</td>
                                                <td>Up to 300 per month</td>
                                                <td>Unlimited</td>
                                                <td>Unlimited</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>No. of practitioner accounts</span>
                                                </td>
                                                <td>Up to 40</td>
                                                <td>Up to 80</td>
                                                <td>Up to 300</td>
                                                <td>Unlimited</td>
                                                <td>Unlimited</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Access to all world class psychometric assessments</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Instant scoring saving you valuable time</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Scores presented as percentiles for easy interpretation</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Graph symptoms over time to track progress in treatment</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Email assessment to clients so they can complete at home</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Schedule regular assessments via email</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="http://placehold.it/40x40">
                                                    <span>Export results as CSV into excel</span>
                                                </td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                                <td><span class="check"></span></td>
                                            </tr>
                                            <tr class="actions">
                                                <td></td>
                                                <td>
                                                    <button class="btn free">
                                                        <p class="price">$0</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$15</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$30</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$60</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success">
                                                        <p class="price">$199</p>
                                                        <p class="small">per month*</p>
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>

<div class="row" *ngIf="text === 'account'">
    <div class="inner-page-content common-assessment-content w-100">
        <div class="page-header">
            <h3 class="font-lead m-0">Account Details</h3>
        </div>
        <div class="assessments">
            <div class="row">
                <div class="col">
                    <form action="">
                        <div class="form-group">
                            <label for="">Title</label>
                            <div class="radio-group">
                                <div class="radio-input">
                                    <input type="radio" id="radio" name="radio">
                                    <label for="radio">Dr</label>
                                </div>
                                <div class="radio-input">
                                    <input type="radio" id="radio2" name="radio" checked="">
                                    <label for="radio2">Mr</label>
                                </div>
                                <div class="radio-input">
                                    <input type="radio" id="radio3" name="radio">
                                    <label for="radio3">Mrs</label>
                                </div>
                                <div class="radio-input">
                                    <input type="radio" id="radio4" name="radio">
                                    <label for="radio4">Ms</label>
                                </div>
                                <div class="radio-input">
                                    <input type="radio" id="radio5" name="radio">
                                    <label for="radio5">Prof</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">First Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Last Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col profession">
                                <div class="form-group">
                                <ion-item>
                                    <ion-label stacked>Profession</ion-label>
                                    <ion-select name="profession">
                                        <ion-option value="1">Psychologist</ion-option>
                                        <ion-option value="2">Psychatrist</ion-option>
                                        <ion-option value="3">Counsllor</ion-option>
                                        <ion-option value="4">Medical Practitioner</ion-option>            
                                        <ion-option value="5">Psychology Student</ion-option>
                                        <ion-option value="6">Occupational Therapist</ion-option>
                                        <ion-option value="7">Psychiatric Nurse</ion-option>
                                        <ion-option value="8">Social Worker</ion-option>
                                        <ion-option value="9">Student</ion-option>            
                                        <ion-option value="10">Researcher</ion-option>
                                        <ion-option value="11">Other</ion-option>
                                    </ion-select>
                                </ion-item>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <button class="btn btn-success">Update Details</button>
                        </div>
                    </form>
                    <hr class="my-4">
                    <h4 class="legend">Security</h4>
                    <div class="form-group mt-4">
                        <button class="btn btn-default mr-2">Change Passcode</button>
                        <button class="btn btn-default">Change Password</button>
                    </div>
                    <hr class="my-4">
                    <h4 class="legend">Email Preferences</h4>
                    <p>Would you like to receive reports in PDF format?</p>
                    <div class="radio-group">
                        <div class="radio-input">
                            <input type="radio" id="pref" name="pref">
                            <label for="pref">No</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" id="pref1" checked name="pref">
                            <label for="pref1">As Link</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" id="pref2" name="pref">
                            <label for="pref2">As Attachment</label>
                        </div>
                    </div>
                    <div class="pad30"></div>
                    <p>Would you like to receive reports in CSV format?</p>
                    <div class="radio-group">
                        <div class="radio-input">
                            <input type="radio" id="csv" name="csv">
                            <label for="csv">No</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" id="csv1" checked name="csv">
                            <label for="csv1">As Link</label>
                        </div>
                        <div class="radio-input">
                            <input type="radio" id="csv2" name="csv">
                            <label for="csv2">As Attachment</label>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-success">Save preferences</button>
                    </div>
                </div>
            </div>
        </div>
    </div>                    
</div>

<div class="row" *ngIf="text === 'feedback'">
        <div class="inner-page-content common-assessment-content w-100">
            <div class="page-header">
                <h3 class="font-lead m-0">Feedback</h3>
            </div>
            <div class="assessments">
                <div class="row">
                    <div class="col">
                        <form action="">
                            <div class="form-group">
                                <label for="">Feedback Type</label>
                                <div class="radio-group">
                                    <div class="radio-input">
                                        <input type="radio" name="type" id="radio1" checked="checked">
                                        <label for="radio1">General</label>
                                    </div>
                                    <div class="radio-input">
                                        <input type="radio" name="type" id="radio2">
                                        <label for="radio2">Report an Error</label>
                                    </div>
                                    <div class="radio-input">
                                        <input type="radio" name="type" id="radio3">
                                        <label for="radio3">Feature Request</label>
                                    </div>
                                    <div class="radio-input">
                                        <input type="radio" name="type" id="radio4">
                                        <label for="radio4">Other</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Type Message Here</label>
                                <textarea type="text" class="form-control" rows="8"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>