<!--
	Generated template for the ClientPage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->

<!-- <ion-content>
	<ion-row>
		<ion-col>
			<ion-navbar>
				<ion-title>Select Client</ion-title>

				<ion-buttons right>
					<button ion-button icon-only (click)="addClient()">
							<ion-icon name="add"></ion-icon>
							</button>
				</ion-buttons>
			</ion-navbar>
			<ion-searchbar (ionInput)="filterClients($event)"></ion-searchbar>
			<ion-list>
				<button ion-item *ngFor="let item of currentItems " (click)="clientSelected(item)">
					<ion-row>
						<ion-col><h2><b>{{item.first_name}} {{item.last_name}}</b></h2></ion-col>
						<ion-col>{{ calculateAge(item.date_of_birth) }} Years old</ion-col>
						</ion-row>
					</button>
			</ion-list>
		</ion-col>
		<ion-col>
			<client-details [client]="client"></client-details>
		</ion-col>
	</ion-row>
</ion-content> -->

<ion-content>
<div id="main" class="inner-page clients-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="inner-page-nav row">
						<div class="inner-page-header w-100 p-2">
							<h4 class="text-center my-2">Clients
									<span class="float-right">
										<button class="btn-icon" (click)="addClient()">
											<img src="./assets/images/new-user.png">
										</button>
									</span>
							</h4>
								
							
							<ion-searchbar (ionInput)="filterClients($event)"></ion-searchbar>
							<!--<ion-searchbar
							  [(ngModel)]="myInput"
							  [showCancelButton]="shouldShowCancel">
							</ion-searchbar>-->

							<!-- <div class="inner-page-search">
								<input type="text" id="search" class="form-control">
								<label for="search" class="search-label">
									<img src="./assets/images/svg/search-icon.svg" alt="">
									<span>Search</span>
								</label>
							</div> -->
						</div>

						<div class="inner-page-list w-100">
							<ion-list>
								<!-- <button class="li-block w-100" [class.active]="i==2" text-left *ngFor="let item of currentItems;let i = index" (click)="clientSelected(item)"> -->
									<button class="li-block w-100" [class.active]="item.id == client.id" text-left *ngFor="let item of currentItems" (click)="clientSelected(item)">
									<p class="mb-3">{{item.first_name}} {{item.last_name}}</p>
									<p class="small">{{ calculateAge(item.date_of_birth) }} years old</p>
								</button>
							</ion-list>
						</div>
				</div>
			</div>
			<div class="col-md-8">
				<client-details [client]="client"></client-details>
			</div>
		</div>
	</div>
</div>
</ion-content>