

<ion-content>
  <div [ngSwitch]="email">
  <!-- Assessment(s) for Estelle Potter Modal -->
  <div class="popup">
      <div class="popup-dialog" role="document">
        <div class="popup-content">
          <div class="popup-header">
            <div class="popup-title">
              <div class="d-flex w-100">
                <div class="col-md-1">
                </div>
                <div class="col-md-10 text-center">
                  <h3>Email to {{clientName}}</h3>
                  <p class="small mb-0" *ngIf="clientEmail != '' ">{{clientEmail}}</p>
                  <p class="small mb-0" *ngIf="clientEmail == '' ">No Email Provided</p>
                </div>
                <div class="col-md-1">
                  <button class="btn-icon" (click)="cancel()">
                    <img src="./assets/images/close.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white">
          <ion-segment [(ngModel)]="email" color="light">
              <ion-segment-button value="Select Assessment">
                Select Assessment(s)
              </ion-segment-button>
              <ion-segment-button value="Customise Email">
                Customise Email
              </ion-segment-button>
          </ion-segment>
          </div>
          <div class="popup-body p-0 pt-2" *ngSwitchCase="'Select Assessment'">
            
            <div class="popup-search">
                <ion-searchbar (ionInput)="filterAssessments($event)"></ion-searchbar>
            </div>
            <ion-list class="list-group">
                <button ion-item class="list-group-item" [class.checked]="item.selected" *ngFor="let item of assessments " (click)="assessmentSelected(item)">
                    <strong>{{item.short_name}}</strong>
                    <span> - {{item.extended_name}}</span>
                    <span class="float-right">
                        <span class="check"></span>
                    </span>
                </button>
            </ion-list>
            <div class="bg-white p-1">
                  <ion-tags-input [(ngModel)]="assessmentNameTag" [once]="'true'" [placeholder]="'Selected tests'" (onChange)="onChange($event)"></ion-tags-input>  
            </div>
          </div>

          <div class="popup-body pt-2" *ngSwitchCase="'Customise Email'">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="note" class="text-muted small">Subject</label>
                    <ion-input name="note" id="note" class="form-control" [(ngModel)]="sendEmail.subject"></ion-input>
                  </div>
                  <div class="form-group">
                    <label for="note" class="text-muted small">Message</label>
                    <ion-textarea name="note" id="note" cols="30" rows="10" class="form-control" [(ngModel)]="sendEmail.body"></ion-textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- // Assessment(s) for Estelle Potter Modal -->
      </div>
    </ion-content>
    <ion-footer>
      <div class="popup">
        <div class="popup-dialog">
          <div class="popup-footer text-right">
            <div class="float-left">
              <div class="attach_client">
                <div class="radio">
                  <ion-checkbox [(ngModel)]="emailSelected"></ion-checkbox>
                  <label for="attach_client">Email result to clients</label>
                </div>
              </div>
            </div>
            <button class="btn-icon" [disabled]="!isReadyToSend" (click)="administer()">
              <strong>ADMINISTER ({{assessmentNameTag.length}})</strong>
              <img src="./assets/images/svg/start.svg" alt="">
            </button>
          </div>
          </div>
        </div>
        </ion-footer>  
